/* clases */
.textos-header h1{
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  

.textos-header h2{
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
  }


/*Animaciones*/
@keyframes zoom{
    0% {
      transform: translateZ(200%);
      font-size: 200px;
      opacity: 5%;
    }

    100% {
      transform: translateZ(0%);
      opacity: 100%;
    }
}
@keyframes aparecer{
    0% {
     opacity: 0%;
     transform: translateY(150%);
    }
   40%{
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}
