* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*desplazamiento suave*/
html{
    scroll-behavior: smooth;
    }
    /*ancho de barra*/
html::-webkit-scrollbar{
width: 7px;
}
/*color y fondo de barra desplazadora*/
html::-webkit-scrollbar-thumb{
background-color: #be1622;
border-radius: 5px;
}
body {
    font-family: 'open sans';
    
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    columns: #be1622;;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    
    width: 100%;
    height: 40%;
    background: #be1622;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 95%, 50%, 0.73), rgba(133, 133, 133, 0.5)), url(../img/img4.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 95%, 50%, 0.73), rgba(27, 27, 27, 0.75)), url(../img/img4.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*
nav {
    text-align:center;
    padding: 2% 5% 0 0;
}*/

nav > a{
    color: rgb(214, 214, 214);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
		line-height: normal;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
        padding: 1%;

}
nav > a:hover{
    opacity: 100%;
    color: #fff;
    background: #be1622;
}
.menu{
    background: #080808;
    left: 0;
    right: 0;
    width: 100%;
    float:right;
    top: 0;
    transition: all 500ms ease;
    height: auto;
    position:fixed;
    opacity: 80%;
    z-index: 1000;
    text-align:center;
    
}
.menu:hover{
    box-shadow: 3px 0px 20px rgb(10, 10, 10);
    opacity: 100%;
}

.desplazamiento{
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
    font-size: 50px;
    color:#fff;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
    animation-name: bounceh2;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    
  }

 

.wave{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

/*contacto*/
 .modal-container{
     opacity: 0;
     visibility: hidden;
     position: fixed;
     z-index: 1000;
     width: 100%;
     height: 100vh;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.8);
     display: flex;
     justify-content: center;
     align-items:center ;
 }
 .modal{
    width: 50%;
    height: 65%;
    background: #f3f3f3;
    padding: 30px;
    margin: auto;
    margin-top: 140px;
    border-radius: 4px;
    font-family: 'calibri';
    color:  rgb(61, 61, 61);;
    box-shadow: 7px 13px 37px #000;
    transition: transform 1s;
     transform: translateY(0%);
     border-radius: 11px;
     align-items: center;

 }
 .close{
     position: absolute;
     top: 10px;
     right: 10px;
     display: inline-block;
     width: 30px;
     height: 25px;
     background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
     background-blend-mode: multiply;
     color: rgba(255, 255, 255, 0.938);
     line-height: 25px;
     cursor: pointer;
     border-radius: 30%;
        text-align: center;
    }
    .close:hover{
        background-image: linear-gradient(to top, #f04444 0%, #e74136 100%);
    }
    
 .modal-close{
    transform: translateY(-200%);
 }
.modal >img{
    width: 40%;    
    position: fixed;
    display: flex;
    right: 20px;

}
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .controls {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(61, 61, 61);
    font-family: 'calibri';
    font-size: 18px;
    color: #212121;
  }
  textarea{
      height: 70px;
      resize:none;
  }
  
  .form-register p {
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color:  rgb(61, 61, 61);;
    text-decoration: underline ;
  }
  
  .form-register a:hover {
    color:  rgb(61, 61, 61);;
    text-decoration: underline ;
  }
  
  .form-register .botons {
    width: 100%;
    background: #161616;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

#nombres, #apellidos, #correo, #numero, #mensaje{
    margin: 4px 2px;
}
/* About us */

main .sobre-nosotros{
    padding: 75px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    padding-top: 0px;
    width: 35%;
    padding-bottom: 50px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3, .descrip h3{
    margin-bottom: 10px;
}

.contenido-textos h3 span{
    background: #be1622;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300px;
    text-align: justify;animation-duration: 3s;
}
    
.descrip{
    width: 100%;

}
.descrip p{
    padding: 0px px 30px 15px;
    font-weight: 300px;
    text-align: justify;
    margin-bottom: 20px;
}
.descrip h3 span{
    background: #be1622;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

/* Galeria */


.portafolio{
    background-color: #f2f2f2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(151, 6, 6, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria i{
    width: 50px;
    font-size: 200%;
    align-items: center;
    text-align-last: center;
    color: #fff;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
 #portafolio a.email-btn {
    color: #ffffff;
    background: #a3261d;
    display: inline-block;
    border-radius: 6px ;
    padding: 12px 30px;
    font-size: 20px;
    font-style: oblique;
    width: 240px;
    text-align-last: center;
    align-items: center;
    margin-top: 15px;
}
 #portafolio a.email-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#portafolio a.email-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#portafolio a.email-btn:hover span {
  padding-right: 25px;
  
}

 #portafolio a.email-btn:hover span:after {
  opacity: 1;
  right: 0;
 
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #be1622;
    display: flex;
    
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #ffffff;
    padding-bottom: 30px;
    padding-top: 10px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/*   social   */

.social{
    background-color: #a32d35;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
    margin: 5px;
}

.social:hover{
    box-shadow: 3px 0px 10px rgb(17, 17, 17);
    background-color: #173083;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social a {
    margin: 1px;
    color:#ffffff;
    text-decoration: none;
}

.links i{
    font-size: 30px;
}
/* footer */

footer{
    background-color: #080808;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23141414' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: auto;
    overflow: hidden;
    
}
/*footer links*/

.footer-links{
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    
}

.footer-container ul{
    margin: 0 auto;
    list-style: none;

}
.footer-container h2{
    border-bottom: 1px solid  rgb(182, 182, 182);
  padding-bottom: 2px;
}

a{
    color:  rgb(182, 182, 182); 
    text-decoration: none;

}
.footer-container ul li {
    line-height: 2.8;
    color: rgb(182, 182, 182);
}
.footer_columnas{
    transform:translateY(54%)
}
#Contacto a.email-btn {
    color: #fff;
    /*background-color: #f46674;*/
    padding: 0 10px;
    display: inline-block;
    border-radius: 6px ;
    border: solid #c7c7c7 2px;
    width: 140px;
    text-align-last: center;
    margin-top: 15px;
}
a.email-btn:hover{
    background-color: #a3261d;
    box-shadow: #16161669 0px 0px 20px;
}
#Contacto a.email-btn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#Contacto a.email-btn span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#Contacto a.email-btn:hover span {
  padding-right: 25px;
  
}

#Contacto a.email-btn:hover span:after {
  opacity: 1;
  right: 0;
 
}
.titulo-final{
    text-align: center;
    font-size: 14px;
    color: #616161;
    padding-bottom: 10px;
    padding-top:5px;
    background: #070707;
    text-decoration: none;
}

@media screen and (max-width:770px){
    
    .menu{
        background: #080808;
        opacity: 100%;
        
       
    }
    /*menu izquierda boton barras*/
    .desplazamiento{
        display:flex;
        text-align: left;
        left: 15px;
        top:2px;
        z-index: 1001;
        padding:10px 15px;
            }
    .fa-times{
        color: #a3261d;
    }
    /**/
    nav > a{
        padding-right: 3%;
        font: bold;
        display: block;
    }
        .nav-menu{
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        background: #000000;
        height: 100%;
        width: 100%;
        padding: 20%;
        transition: transform .7s ease-in-out ;
        text-align: center;
        transform: translate(-120%,0);
        opacity: 60%;
    
    }
    /*muestra el menu*/
    .nav-menu.show{
        background: #000000;
        width: 100%;
        transition: all 500ms ease;
        height: 100%;
        padding: 20%;
        transition: transform .7s ease-in-out;
        transform: translate(0%,0);
        left: 0;
        right: 0;
        opacity: 95%;
    }

    .menu .nav-menu a{
        padding: 7%;
        font-size: 100% ;
        bottom: 0;
        text-decoration-color: #fff;
        background: #000000;
    
    }
    header{
        background-position: center;
    }
    .modal-container{
        flex-direction: column-reverse;
        align-content: center;
    }
    .modal{
        width: 80%;
        height: 70%;
        margin-top: 90px;
    
     }
     .form-register .botons {
        margin: 60px 0;
      }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 60%;
        padding-top: 10px;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }
    .hover-galeria{
    
        display:none;
    }
    .imagen-port:hover{
        position:static;
    }
    
    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
       /*social*/
       .social{
        background-color: #a32d35;
        height: 70px;
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0;
    }
    
    .social:hover{
        box-shadow:0;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .social a {
        margin: 1px;
        color:#ffffff;
        text-decoration: none;
    }
    
    .links i{
        font-size: 40px;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        text-align-last: center;
        padding: 0px;
       }
       .footer-container{
        font-size:medium;
       }
    #Contacto a.email-btn:hover {
        background: #a32d35;
      }
      .footer-container ul{
          padding-bottom: 25px;
      }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 15% 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }
    
    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    .modal{
        height: 80%;
    
     }
     .form-register .botons {
        margin: 100px 0;
      }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

 
    /* Footer */

    .footer-links .footer-container{
        grid-template-columns: 1fr;
        align-items: left;
    }

    .titulo-final{
        font-size: 18px;
    }
    
}
