* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*desplazamiento suave*/
html{
    scroll-behavior: smooth;
    }
    /*ancho de barra*/
html::-webkit-scrollbar{
width: 7px;
}
/*color y fondo de barra desplazadora*/
html::-webkit-scrollbar-thumb{
background-color: #be1622;
border-radius: 5px;
}
body {
    font-family: 'open sans';
    
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    columns: #be1622;;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    
    width: 100%;
    height: 40%;
    background: #be1622;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 95%, 50%, 0.733), hsla(0, 3%, 15%, 0.911)), url(../img/porta.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 95%, 50%, 0.733), hsla(0, 3%, 15%, 0.911)), url(../img/porta.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


nav {
    text-align:center;
    padding: 2% 5% 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
		line-height: normal;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 20px;
}
nav > a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
    opacity: 60%;
}
.menu{
    background: #080808;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 1rem;
    float: right;
    top: 0  ;
    transition: all 500ms ease;
    height: auto;
    position: fixed;
    opacity: 97%;
    z-index: 1;
}

.desplazamiento{
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;

}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

/*contacto*/
 .modal-container{
     opacity: 0;
     visibility: hidden;
     position: fixed;
     z-index: 1000;
     width: 100%;
     height: 100vh;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.8);
     display: flex;
     justify-content: center;
     align-items:center ;
 }
 .modal{
    width: 50%;
    height: 65%;
    background: #be1622;
    padding: 30px;
    margin: auto;
    margin-top: 140px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #fff;
    box-shadow: 7px 13px 37px #000;
    transition: transform 1s;
     transform: translateY(0%);
     border-radius: 11px;
     align-items: center;

 }
 .close{
     position: absolute;
     top: 10px;
     right: 10px;
     display: inline-block;
     width: 30px;
     height: 25px;
     background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
     background-blend-mode: multiply;
     color: rgba(255, 255, 255, 0.938);
     line-height: 25px;
     cursor: pointer;
     border-radius: 30%;
        text-align: center;
    }
    .close:hover{
        background-image: linear-gradient(to top, #f04444 0%, #e74136 100%);
    }
    
 .modal-close{
    transform: translateY(-200%);
 }
.modal >img{
    width: 40%;    
    position: fixed;
    display: flex;
    right: 20px;

}
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .controls {
    width: 100%;
    background: #910e17;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  textarea{
      height: 70px;
      resize:none;
  }
  
  .form-register p {
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

#nombres, #apellidos, #correo, #numero, #mensaje{
    margin: 4px 2px;
}
/* About us */

main .sobre-nosotros{
    padding: 75px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    padding-top: 0px;
    width: 35%;
    padding-bottom: 50px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3, .descrip h3{
    margin-bottom: 10px;
}

.contenido-textos h3 span{
    background: #be1622;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300px;
    text-align: justify;
}
.descrip{
    width: 100%;

}
.descrip p{
    padding: 0px px 30px 15px;
    font-weight: 300px;
    text-align: justify;
    margin-bottom: 20px;
}
.descrip h3 span{
    background: #be1622;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
    padding-top: 10px;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port:hover{
    opacity: 75%;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}


/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #be1622;
    display: flex;
    
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
    padding-top: 10px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/*   social   */

.social{
   
    background-color: #a32d35;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
    transform: translateX(-2%);
}
.social p{
    text-align: center;
    font-size:20px;
    margin-bottom: 8px;
    margin-right: 20px ;
    color:#f2f2f2;
 
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 3%;
    color:#f2f2f2;
    border-bottom: 2px solid #a32d35;
    padding-bottom: 2px;
}

.links a:hover {
    opacity: 60%;
    border-bottom: 2px solid #dddcdc;
    padding-bottom: 2px;
}

.links a i{
    height: 20px;
}
/* footer */

footer{
    background: #141414;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
    height: 40px;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #a32d35;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:770px){
    
    .menu{
        background: #080808;
       
    }
    /*menu izquierda boton barras*/
    .desplazamiento{
        display:block;
        text-align: left;
        left: 30px;
        top:10px;
    }
    .desplazamiento:hover{
        opacity: 60%;
    }
    /**/
    nav > a{
        padding-right: 2%;
        font: bold;
        display: block;
    }
        .nav-menu{
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        background: #000000;
        height: 100%;
        width: 100%;
        padding: 20%;
        transition: transform .7s ease-in-out ;
        text-align: center;
        transform: translate(-120%,0);
        opacity: 60%;
    
    }
    /*muestra el menu*/
    .nav-menu.show{
        background: #000000;
        width: 100%;
        transition: all 500ms ease;
        height: 100%;
        padding: 20%;
        transition: transform .7s ease-in-out ;
        transform: translate(0%,0);
        left: 0;
        right: 0;
        opacity: 95%;
    }

    .menu .nav-menu a{
        padding: 7%;
        font-size: 100% ;
        bottom: 0;
        text-decoration-color: #fff;
        background: #000000;
    
    }
    header{
        background-position: center;
    }
    .modal-container{
        flex-direction: column-reverse;
        align-content: center;
    }
    .modal{
        width: 80%;
        height: 70%;
        margin-top: 90px;
    
     }
     .form-register .botons {
        margin: 60px 0;
      }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 60%;
        padding-top: 10px;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }
    .hover-galeria{
    
        display:none;
    }
    .imagen-port:hover{
        position:static;
    }
    
    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    .contenedor-footer{
        
        border-bottom: 1px solid #ccc;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 15% 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }
    
    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    .modal{
        height: 80%;
    
     }
     .form-register .botons {
        margin: 100px 0;
      }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /*social*/
    .social{
        width: 100%;
        margin: 0;
        transform: translateX(0);
        border-radius: 0;
    }
    /* Footer */

    
    .contenedor-footer{
        flex-direction: column;
        border: none;
        
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 18px;
    }
    
}
